MODEL_PATH=models/model.pkl
REGRESSION_MODEL_PATH=models/model_regression.pkl
LABEL_ENCODER_PATH=models/label_encoder.pkl
MODEL_METADATA_PATH=models/model_metadata.json
RATE_LIMIT=60/minute
PREDICT_RATE_LIMIT=30/minute
